.error {
    padding: 20px;
    background-color: aqua;
    color: goldenrod;
}
.succes {
    padding: 20px;
    background-color: rgb(17, 195, 195);
    color: rgb(125, 95, 95);
}

/* Umumiy stil */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Ro'yxat stil */
ul {
    list-style-type: none; /* Ro'yxat belgilarini olib tashlash */
    padding: 0;
}

li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
}

/* Tugma stil */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3; /* Tugma ustiga kelganda rang o'zgarishi */
}